body {
  padding: 0;
  margin: 0;
}

form{
  padding-right: 5px;
}

.projects-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#projects-list-wrapper{
  width: 80%;
}

.project-head{
  height: 80px;
  width: 100%;
  display: flex;
}

.upload {
  margin: 20px auto;
  background-color: #AAA8A7;
  border: none;
  padding: 13px 15px 8px 15px;
  border-radius: 30px;
  width: 200px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.upload:hover{
  background-color: #F5A114;
}

.projects-table-head{
  margin: 30px;
  width: 1200px;
  margin-left: 50px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: #F5A114;
  display: flex;
  justify-content: space-around;
}

.projects-table-head > h3 {
  width: 300px;
}

.projects-table-row{
  background-color: #D8D8D8;
  width: 1200px;
  margin-left: 50px;
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px 5px 10px 5px;
  font-weight: 100;
  color: gray;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.projects-table-row > p {
  margin: 0;
  width: 300px;
  text-align: left;
}

.lightgray{
  background-color: #EFEFEF;
}

#project-table{
  width: 100%;
}

.filterbuttons{
  text-align: center;
}

.projects-box {
  height: 100%;
  color: white;
  background: #f5a114;
  box-sizing: border-box;
  border-radius: 5px;
  width: 20%;
  margin: 10px;
  padding: 30px;
  font-family: Helvetica, sans-serif;
}

.projects-box h2{
  margin-bottom: 18px;
}

/*.projects-box #radio1 #radio2 #radio3 #radio4 #length1 #length2 #length3 #length4{
  margin-bottom: 50px;
}
.projects-box label{
  margin-bottom: 35px;
}*/

.usefilter button {
  background-color: #383635;
  border: none;
  padding: 15px;
  border-radius: 30px;
  margin-top: 20px;

  font-family: sans-serif;
  font-size: 12pt;
  color: white;
  position: relative;
  cursor: pointer;
}

.projects-box #date {
  margin-bottom: 10px;
  margin-top: 3px;
  width: 100%;
  border: none;
  padding: 5px 0 5px 2px;
  border-radius: 5px;
}

.projects-box #publisher {
  margin-bottom: 10px;
  margin-top: 3px;
  width: 100%;
  border: none;
  padding: 5px 0 5px 2px;
  border-radius: 5px;
 }

 .projects-box #autor {
  margin-bottom: 10px;
  margin-top: 3px;
  width: 100%;
  border: none;
  padding: 5px 0 5px 2px;
  border-radius: 5px;
 }

 .projects-box #rubrik {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 3px;
  border: none;
  padding: 5px 0 5px 2px;
  border-radius: 5px;
 }

 .projects-box #suchbegriff {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 3px;
  border: none;
  padding: 5px 0 5px 2px;
  border-radius: 5px;
 }

.undofilter button {
  background-color: #f5a114;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;

  font-family: sans-serif;
  font-size: 12px;
  color: white;
  position: relative;
  cursor: pointer;

}

.undofilter{
  margin: 0;
}

ul li {
  list-style: none;
  float: left;
  padding: 30px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: aliceblue;
}

 .projects-box label {
  font-size: 16px;
}

#suchbegriff{
  display: flex;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltipText {
  visibility: collapse;
  width: 160px;
  background-color: #D8D8D8;
  color: rgb(99, 98, 98);
  text-align: center;
  border-radius: 5px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltipText{
  visibility: visible;
}